{% extends 'layout.html' %}

{% block body %}
  <h1>Register Scene</h1>
  {% from "includes/formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{ render_field(form.imgname, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.statimg, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.imgsensor, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.imgorderid, class_="form-control") }}
    </div>
    <p><input type="submit" class="btn btn-primary" value="Submit"></p>
{% endblock %}
